* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* common */

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    padding: 18px 16px;

    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.9;
}
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}
.hero-wrap {
    background: #e6f0ff;
    height: calc(100vh - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
    /* 2 dòng cuối dùng để loại bỏ margin collapse để phần vì hero có margin-top  */
    /* phần   flex-direction: column; vì hiện tại chỉ có content là thẻ con của header
     nên chúng ta sẽ không có thấy các phần tử nằm ngang ra thêm dòng này để sau này có
      thêm phần tử cũng không bị đẩy các phẩn tử lên*/
}
.action {
    margin-left: auto;
}
.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;
    /* background: orange; */
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

/* hero */
.hero {
    margin-top: 130px;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}
.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}
.hero .info {
    width: 51%;
}
.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    color: #5a6473;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* clients  */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 32px;
    border-radius: 12px;
}
.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* guides */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-tile {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.guides .sub-tile::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guides .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}
.guides-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guides-cta .btn {
    min-width: 170px;
    border-radius: 12px;
}
/* fearuted */
.fearuted {
    padding: 110px 0;
    margin-top: 41px;
    background: #f5fafe;
}
.fearuted .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.fearuted .row {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.fearuted .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.fearuted .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}
.fearuted .link .arrow {
    margin-left: 8px;
}

.fearuted .item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
}
.fearuted .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.fearuted .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.fearuted .item .body {
    margin: 17px 20px 24px;
}
.fearuted .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.fearuted .item .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
    /* thuộc tính word-break Nội dung sẽ được ngắt dòng
     tại bất kỳ vị trí nào khi cần để vừa với kích thước khung  */
}
.fearuted .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}
.fearuted .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.fearuted .item .icon {
    margin-left: 23px;
}
.fearuted .item .icon:first-child {
    margin-left: 0;
}
/* stast */
.stast {
    margin-top: 75px;
    padding: 50px 0;
}
.stast .content {
    width: 1048px;
}
.stast .row {
    display: flex;
}

.stast .img-block,
.stast .info {
    width: 50%;
}
.stast .img-block .image {
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-left: auto;
}
.stast .info {
    padding: 79px 0 0 165px;
}
.stast .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}
.stast .sub-title::before {
    top: -10px;
    left: 0;
    position: absolute;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.stast .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.stast .img-block {
    position: relative;
}
.stast-trend {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 0px 12px 12px;
    width: 239px;
    background: #fff;
    padding: 45px 22px 40px;
}

.stast-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.26px;
}
.stast-trend .icon {
    margin-left: auto;
}
.stast .desc {
    margin-top: 8px;
}
.stast .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.avatar-block {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
}
.stast .avatar-group {
    display: flex;
}
.stast .avatar:first-child {
    margin-left: 0;
}
.stast .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    font-size: 0.7rem;
    font-weight: 450;
    background: var(--bg--color, #fff);
    line-height: 16px;
    text-align: center;
}

.stast .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stast .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}
.stast .qty-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
/* subscription */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    background: #063183;
    height: 370px;
}
.subscription .info {
    padding: 0 80px 0;
    max-width: 100%;
    width: 671px;
}
.subscription .sub-title {
    color: #fff;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 600;
}
.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    opacity: 0.75;
}
.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 12px;
    background: #fff;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* footer */
footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.desc {
    margin-top: 40px;
}
.footer .item {
    margin-top: 18px;
}
.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
    /* white-space: nowrap; khoông xuống hàng  */
}
.footer .desc {
    white-space: normal;
    line-height: 1.75;
}
.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}
.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer .social-link {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #f9f9f9;
}
.footer .social-link + .social-link {
    margin-left: 16px;
}
.footer .social-link:hover {
    background: #bebebe;
}
